*.md
*.json
*.min.js

node_modules/*
docs/*
vendor/*
public/js-es5/*
public/js/neon*
public/js/resizeable.js

/*Files added for front-end (Arash)*/
public/js/scripts.js
public/js/socket.io.js
public/js/bootstrap.js
public/js/handlebars-v4.0.5.js
public/js/min/jquery-jvectormap-europe-merc-en.js
public/js/min/d3.v3.js
public/js/min/raphael-min.js
public/js/jscolor.js

/*front-end fix later (Arash) */
public/js/dashboard.js
public/js/signup.js
public/js/login.js
public/js/settings.js
public/js/toastr.js
public/js/appointments.js
public/js/form-builder.js
