#company-name > h1{
   font-size: 18px;
}

.pull-right{
	margin-right: 25px;

}

.fa-cog:hover{
	cursor: pointer;
	color: #a9a9a9;
}

tr:nth-last-child(1){
   border-bottom: 1px solid rgb(215,215,215) !important;
}

body{
	color: #5b677b !important
}

.page-title {
  font-weight: 100;
  font-size: 50px;
}

.main-content {
	padding-left: 160px;
}

@media only screen and (max-width : 992px) {
	.main-content {
		padding-left: 10px;
  }
}
